---
layout: page
permalink: /categories/
title: Categories
---

<div class="section">
  <div id="archives">
  {% for category in site.categories %}
    <div class="archive-group">
      {% capture category_name %}{{ category | first }}{% endcapture %}
      <div id="#{{ category_name | slugize }}"></div>
      <br />

      <blockquote>
          <h2 class="category-head">{{ category_name }}</h2>
      </blockquote>
      <a name="{{ category_name | slugize }}"></a>
      
      <div class="row">
        {% for post in site.categories[category_name] %}
          <div class="col l4 m4 s12">
            <article class="post card b-radius10px wow fadeIn">
              <a href="{{ site.baseurl }}{{ post.url }}">
                <div style="border-radius: 10px 10px 0px 0px;" class="card-image waves-effect waves-block waves-light">
                  <img class="equal-img" src="{{ post.thumbnail }}" />
                </div>
              </a>
              <div class="card-content" style="padding-top: 0px;">
                <h3><a class="blue-grey-text text-darken-4" href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h3>
                <p><a href="{{ site.baseurl }}{{ post.url }}" class="read-more">leer mas</a></p>
              </div>
            </article>
          </div>
        {% endfor %}
      </div>

    </div>
  {% endfor %}
  </div>
</div>