---
layout: default
---

<article class="post container">
  <div class="entry">
    {{ content }}
  </div>

  <div class="container">
    <div class="row">
      <div class="col l6 m6 s12">
        <p>Post anterior</p>
        {% if page.previous.url %}
          <a class="prev" href="{{baseurl.previous.url}}"> {{page.previous.title}}</a>
        {% endif %}
      </div>

      <div class="col l6 m6 s12">
        <p>Siguiente post</p>
        {% if page.next.url %}
          <a class="next" href="{{baseurl.next.url}}">{{page.next.title}} </a>
        {% endif %}
      </div>
    </div>
  </div>

  <div class="date">
    {% include  share.html %}
    Publicado en {{ page.date | date: "%B %e, %Y" }}
    
  </div>

  {% include disqus.html %}
</article>
